@import "tailwindcss";

@theme {
  --font-display: "Lilita One", sans-serif;
  --font-sans: "Quicksand", sans-serif;

  --color-primary: #FCA34D;
  --color-primary-dark: #F1923A;
  --color-secondary: #FE7E3D;
  --color-accent: #F19537;
  --color-foreground: #1E1F22;
  --color-bg-light: #FDE8D1;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-sans);
  background-color: var(--color-primary);
  color: var(--color-foreground);
}