@import "tailwindcss";

@theme {
  --font-display: "Lilita One", sans-serif;
  --font-sans: "Quicksand", sans-serif;

  --color-primary: #FCA34D;
  --color-primary-dark: #F1923A;
  --color-secondary: #FE7E3D;
  --color-accent: #F19537;
  --color-foreground: #1E1F22;
  --color-bg-light: #FDE8D1;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-sans);
  background-color: var(--color-primary);
  color: var(--color-foreground);
}

/* Custom scrollbar utility */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #FDE8D1 #FAFAFA;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #FAFAFA;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #FDE8D1;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #FCA34D;
}